Importing packages

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import pymannkendall as mk
import re

Collecting the discharge files as a mean to get all relevant catchment names.

In [144]:
dirl  = "Final_dataset/"
files = os.listdir(dirl)
files = np.sort(files)
files_txt = [i for i in files if i.endswith('.txt_')]

files_txt = [i[:-5] for i in files if i.endswith('.txt_')]
files_txt.sort(key=int)
files_txt

['200013',
 '200032',
 '200142',
 '200268',
 '200279',
 '200284',
 '200290',
 '200303',
 '200323',
 '600010',
 '1200070',
 '1200171',
 '1200178',
 '1200193',
 '1500049',
 '1600066',
 '1600075',
 '1800010',
 '1800011',
 '1900079',
 '1900080',
 '1900082',
 '1900096',
 '1900104',
 '2000002',
 '2000011',
 '2200016',
 '2400008',
 '2400009',
 '2500024',
 '2600020',
 '2600021',
 '3600013',
 '4100001',
 '4100008',
 '4200002',
 '4800005',
 '5000001',
 '5000013',
 '5500004',
 '6200005',
 '6200010',
 '6200014',
 '6200015',
 '7500023',
 '7500028',
 '7600005',
 '7800008',
 '7900003',
 '8000004',
 '8100001',
 '8200004',
 '8300002',
 '8300006',
 '8300007',
 '8300012',
 '8400011',
 '8400020',
 '8500004',
 '8600010',
 '8600012',
 '8700010',
 '8800004',
 '8800011',
 '9100002',
 '9700001',
 '9800004',
 '10100001',
 '10400022',
 '10400023',
 '10500001',
 '10900009',
 '11200008',
 '12200011',
 '12300031',
 '12400002',
 '12700006',
 '12700011',
 '12700013',
 '12800005',
 '13300007',
 '13800001',
 '13900020',
 '13900026',
 '13900035',
 '14000002',
 '14800002',
 '15100015',
 '15200004',
 '15300001',
 '15600008',
 '15600010',
 '15600015',
 '16300007',
 '16800003',
 '17200007',
 '17200008',
 '17700004',
 '17800001',
 '18500001',
 '19100002',
 '19600007',
 '19600011',
 '20000004',
 '20500006',
 '20600003',
 '20800002',
 '20800003',
 '20900004',
 '21200010',
 '21200049',
 '21300002',
 '21300004',
 '22300002',
 '23400018',
 '24400002',
 '24600009',
 '24700003',
 '30700005',
 '30700007',
 '30800001',
 '31100004',
 '31100460',
 '31300010']

Removing catchments and adding it to the end of the list to correspond the list to the one in my_dc_dataset.ipynb

In [145]:
files_txt.remove('20000004')
len(files_txt)

122

In [146]:
files_txt.append('20000004')
len(files_txt)

123

Rename list of files to catchments names.

In [149]:
new_list = []
for i in files_txt:
    new_list.append(i[0:-5]+'.'+i[-5:])
re_zero = r"[0]{2,4}"
removed_zeros = []
for i in new_list:
    j = i+".0"
    removed_zeros.append(re.sub(re_zero, "", j))

removed_zeros.append('200.4.0')
removed_zeros.remove('2.4.0')

#print(removed_zeros)

Test of reading file

In [150]:
snow_variable = pd.read_csv('ferige_ssenorge/qtt_runoff_amount/runoff_amount/combined_'+'runoff_amount'+'_del2.csv', index_col=0)
snow_variable_sorted = snow_variable.sort_index()
snow_variable_sorted

,185.1.0,246.9.0,213.4.0,140.2.0,127.6.0,168.3.0,20.11.0,80.4.0,88.11.0,177.4.0,191.2.0,200.4.0,127.11.0,50.1.0,20.2.0,62.10.0,234.18.0,2.142.0,122.11.0,123.31.0
time,,,,,,,,,,,,,,,,,,,,
1990-01-01,9.00,0.0,0.352459,0.000000,0.000000,4.333334,NaN,0.000000,0.000000,5.242424,2.614943,3.500000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1990-01-02,4.25,0.0,0.000000,0.000000,0.000000,1.703704,NaN,0.000000,0.000000,0.969697,0.036398,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1990-01-03,0.00,0.0,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1990-01-04,0.00,0.0,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1990-01-05,0.00,0.0,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,1.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,0.00,0.0,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.789366,0.000000,0.000000,0.000000,0.000000,0.232759,0.000000,1.043478,0.0,0.000000,0.000000,0.000000
2020-12-28,0.00,0.0,0.000000,4.369266,0.550432,0.000000,NaN,7.714286,1.128834,0.000000,0.000000,0.000000,0.150289,0.155172,0.584838,1.944099,0.0,2.000610,0.047256,0.400000
2020-12-29,0.00,0.0,0.000000,1.422018,0.567723,0.000000,NaN,0.285714,0.128834,0.484849,0.455939,0.067164,0.433526,0.004310,0.000000,0.409938,0.0,0.549390,0.112805,0.528571
2020-12-30,0.00,0.0,0.000000,0.922018,0.096542,0.000000,NaN,0.857143,0.040900,0.212121,0.017241,0.231343,0.028902,0.004310,0.176895,0.142857,0.0,1.353049,0.000000,0.000000
2020-12-31,0.00,0.0,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007220,0.000000,0.0,0.000000,0.000000,0.000000

Calculating mean yearly values of each snow or evaporation value, and then calculating trends over these.

SD - Snow depth

In [153]:
inner_path = 'snow_depth'
short = 'sd'

snow_variable_type1 = pd.read_csv('ferige_ssenorge/'+short+'_'+inner_path+'/combined_'+inner_path+'.csv', index_col=0)
snow_variable_sorted1 = snow_variable_type1.sort_index()

snow_variable_type2 = pd.read_csv('ferige_ssenorge/'+short+'_'+inner_path+'/'+inner_path+'/combined_'+inner_path+'_del2.csv', index_col=0)
snow_variable_sorted2 = snow_variable_type2.sort_index()

bigdata = pd.concat([snow_variable_sorted1, snow_variable_sorted2],  sort=False, axis=1)

bigdata['Datetime'] = pd.to_datetime(bigdata.index, format='%Y-%m-%d')
bigdata = bigdata.set_index('Datetime')

myperiod = bigdata['1990':'2020']
myperiod = myperiod.loc[:,~myperiod.columns.duplicated(keep='last')]
"""
re_zero = r"[0]{2,4}"
removed_zeros = []
snow_depth_trend_max = []
for i in files_txt:
    j = i+".0"
    removed_zeros.append(re.sub(re_zero, ".", j))

snow_variable = pd.read_csv(inner_path+'/combined_'+inner_path+'.csv', index_col=0)
snow_variable_sorted = snow_variable.sort_index()
snow_variable_sorted.index = pd.to_datetime(snow_variable_sorted.index,format="%Y-%m-%d") 
"""
snow_variable_yr = myperiod.resample('12MS').max()

yearly_trend_result = []
trend_do_not_exist = []
snow_depth_mean =[]

for i in removed_zeros:
    try:
        alltrendm = mk.original_test(snow_variable_yr[i])
        if alltrendm.trend=='increasing':
            yearly_trend_result.append(1)
        elif alltrendm.trend=='no trend':
            yearly_trend_result.append(0)
        else:
            yearly_trend_result.append(-1)
    except:
            trend_do_not_exist.append(i)
            yearly_trend_result.append('NaN')
            print('This station was skipped:', i)
            continue   
snow_depth_trend_max =yearly_trend_result
#snow_depth_max.index = removed_zeros
#snow_depth_trend_max
len(snow_depth_trend_max)

for i in removed_zeros:
    a = snow_variable_yr[i].mean()
    snow_depth_mean.append(a)

This station was skipped: 2.290.0
This station was skipped: 18.11.0
This station was skipped: 20.11.0
This station was skipped: 41.8.0
This station was skipped: 62.14.0
This station was skipped: 62.15.0
This station was skipped: 83.6.0
This station was skipped: 83.7.0
This station was skipped: 83.12.0
This station was skipped: 311.4.0

SWE - rekna ut mean for kvar vinterperiode.

In [154]:
inner_path = 'snow_water_equivalent'
short = 'swe'

snow_variable_type1 = pd.read_csv('ferige_ssenorge/'+short+'_'+inner_path+'/combined_'+inner_path+'.csv', index_col=0)
snow_variable_sorted1 = snow_variable_type1.sort_index()

snow_variable_type2 = pd.read_csv('ferige_ssenorge/'+short+'_'+inner_path+'/'+inner_path+'/combined_'+inner_path+'_del2.csv', index_col=0)
snow_variable_sorted2 = snow_variable_type2.sort_index()

bigdata = pd.concat([snow_variable_sorted1, snow_variable_sorted2],  sort=False, axis=1)

bigdata['Datetime'] = pd.to_datetime(bigdata.index, format='%Y-%m-%d')
bigdata = bigdata.set_index('Datetime')

myperiod = bigdata['1990':'2020']
myperiod = myperiod.loc[:,~myperiod.columns.duplicated(keep='last')]
"""
re_zero = r"[0]{2,4}"
removed_zeros = []
snow_depth_trend_max = []
for i in files_txt:
    j = i+".0"
    removed_zeros.append(re.sub(re_zero, ".", j))

snow_variable = pd.read_csv(inner_path+'/combined_'+inner_path+'.csv', index_col=0)
snow_variable_sorted = snow_variable.sort_index()
snow_variable_sorted.index = pd.to_datetime(snow_variable_sorted.index,format="%Y-%m-%d") 
"""
snow_variable_yr = myperiod.resample('12MS').mean()

yearly_trend_result = []
trend_do_not_exist = []
swe_mean_yr =[]

for i in removed_zeros:
    try:
        alltrendm = mk.original_test(snow_variable_yr[i])
        if alltrendm.trend=='increasing':
            yearly_trend_result.append(1)
        elif alltrendm.trend=='no trend':
            yearly_trend_result.append(0)
        else:
            yearly_trend_result.append(-1)
    except:
            trend_do_not_exist.append(i)
            yearly_trend_result.append('NaN')
            print('This station was skipped:', i)
            continue   
swe_mean =yearly_trend_result
#snow_depth_max.index = removed_zeros
len(swe_mean)

for i in removed_zeros:
    a = snow_variable_yr[i].mean()
    swe_mean_yr.append(a)

This station was skipped: 2.290.0
This station was skipped: 18.11.0
This station was skipped: 20.11.0
This station was skipped: 41.8.0
This station was skipped: 62.14.0
This station was skipped: 62.15.0
This station was skipped: 83.6.0
This station was skipped: 83.7.0
This station was skipped: 83.12.0
This station was skipped: 311.4.0

QSW - snow melt, mean for

In [155]:
inner_path = 'snow_melt'
short = 'qsw'
snow_variable_type1 = pd.read_csv('ferige_ssenorge/'+short+'_'+inner_path+'/combined_'+inner_path+'.csv', index_col=0)
snow_variable_sorted1 = snow_variable_type1.sort_index()
snow_variable_type2 = pd.read_csv('ferige_ssenorge/'+short+'_'+inner_path+'/'+inner_path+'/combined_'+inner_path+'_del2.csv', index_col=0)
snow_variable_sorted2 = snow_variable_type2.sort_index()
bigdata = pd.concat([snow_variable_sorted1, snow_variable_sorted2],  sort=False, axis=1)

bigdata['Datetime'] = pd.to_datetime(bigdata.index, format='%Y-%m-%d')
bigdata = bigdata.set_index('Datetime')

myperiod = bigdata['1990':'2020']
myperiod = myperiod.loc[:,~myperiod.columns.duplicated(keep='last')]

snow_variable_yr = myperiod.resample('12MS').mean()

yearly_trend_result = []
trend_do_not_exist = []
qsw_mean_yr=[]

for i in removed_zeros:
    try:
        alltrendm = mk.original_test(snow_variable_yr[i])
        if alltrendm.trend=='increasing':
            yearly_trend_result.append(1)
        elif alltrendm.trend=='no trend':
            yearly_trend_result.append(0)
        else:
            yearly_trend_result.append(-1)
    except:
            trend_do_not_exist.append(i)
            yearly_trend_result.append('NaN')
            print('This station was skipped:', i)
            continue   
qsw_mean =yearly_trend_result
#snow_depth_max.index = removed_zeros
len(qsw_mean)

for i in removed_zeros:
    a = snow_variable_yr[i].mean()
    qsw_mean_yr.append(a)

This station was skipped: 2.290.0
This station was skipped: 18.11.0
This station was skipped: 20.11.0
This station was skipped: 41.8.0
This station was skipped: 62.14.0
This station was skipped: 62.15.0
This station was skipped: 83.6.0
This station was skipped: 83.7.0
This station was skipped: 83.12.0
This station was skipped: 311.4.0

Water evaporation amount

In [156]:
inner_path = 'water_evaporation_amount'
short = 'gwb_eva'
snow_variable_type1 = pd.read_csv('ferige_ssenorge/'+short+'_'+inner_path+'/combined_'+inner_path+'.csv', index_col=0)
snow_variable_sorted1 = snow_variable_type1.sort_index()
snow_variable_type2 = pd.read_csv('ferige_ssenorge/'+short+'_'+inner_path+'/'+inner_path+'/combined_'+inner_path+'_del2.csv', index_col=0)
snow_variable_sorted2 = snow_variable_type2.sort_index()
bigdata = pd.concat([snow_variable_sorted1, snow_variable_sorted2],  sort=False, axis=1)

bigdata['Datetime'] = pd.to_datetime(bigdata.index, format='%Y-%m-%d')
bigdata = bigdata.set_index('Datetime')

myperiod = bigdata['1990':'2020']
myperiod = myperiod.loc[:,~myperiod.columns.duplicated(keep='last')]

#snow_variable_yr = myperiod.resample('12MS').mean()
snow_variable_yr = myperiod.resample('12M').mean()

yearly_trend_result = []
trend_do_not_exist = []
gwb_eva_mean_yr = []

for i in removed_zeros:
    try:
        alltrendm = mk.original_test(snow_variable_yr[i])
        if alltrendm.trend=='increasing':
            yearly_trend_result.append(1)
        elif alltrendm.trend=='no trend':
            yearly_trend_result.append(0)
        else:
            yearly_trend_result.append(-1)
    except:
            trend_do_not_exist.append(i)
            yearly_trend_result.append('NaN')
            print('This station was skipped:', i)
            continue   
gwb_eva_mean =yearly_trend_result
#snow_depth_max.index = removed_zeros
len(gwb_eva_mean)

for i in removed_zeros:
    a = snow_variable_yr[i].mean()
    gwb_eva_mean_yr.append(a)

This station was skipped: 20.11.0
This station was skipped: 62.14.0
This station was skipped: 83.7.0